<img [src]="getUrlImageArtist" class="img-fluid" alt="..." />

<h3>{{ artist.name }}</h3>
<div class="col-12">
  <mat-chip-set>
    @for (item of artist.genres; track $index) {
    <mat-chip class=""> {{ item }} </mat-chip>
    }
  </mat-chip-set>
</div>

<div class="col-12 d-flex aling-items-center">
  <p>Popularidad</p>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="star"
  ></mat-icon>
  <p>: {{ artist.popularity }}</p>
</div>

<div class="col-12 d-flex aling-items-center">
  <p>Seguidores</p>
  <mat-icon
    aria-hidden="false"
    aria-label="Example home icon"
    fontIcon="people"
  ></mat-icon>
  <p>: {{ getFollowerArtist }}</p>
</div>
<div class="col-12">
  <a class="link-button" [href]="artist.uri">Escucha el artista en Spotify </a>
</div>
