<img [src]="getUrlImageArtist" class="img-fluid" alt="..." />

<p class="text-title-1 mt-4">{{ artist.name }}</p>
<div class="col-12 mt-3">
  <mat-chip-set>
    @for (item of artist.genres; track $index) {
    <mat-chip class=""> {{ item }} </mat-chip>
    }
  </mat-chip-set>
</div>

<div class="col-12 d-flex aling-items-center mt-3">
  <p class="text-title-3">
    Popularidad
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="star"
      class="mc-1"
    ></mat-icon>
  </p>

  <span class="text-label ms-1">: {{ artist.popularity }}</span>
</div>

<div class="col-12 d-flex aling-items-center mt-3">
  <p class="text-title-3">
    Seguidores
    <mat-icon
      aria-hidden="false"
      aria-label="Example home icon"
      fontIcon="people"
      class="mc-1"
    ></mat-icon>
  </p>
  <span class="text-label ms-1">: {{ getFollowerArtist }}</span>
</div>
<div class="col-12 mt-5">
  <a class="link-button" [href]="artist.uri">Escucha el artista en Spotify </a>
</div>
