<div class="bg-dark">
  <div class="container py-5">
    <div class="artist-container row p-3 card">
      <div
        class="info-container d-flex flex-column justify-content-between h-100 col-12 p-3 col-sm-4"
      >
        <div>
          <h2 class="text-title">Detalle del artista</h2>
          @if (artist) {
          <app-card-detail-artist [artist]="artist" />

          }@else {
          <app-skeleton [columns]="1" [rows]="1" />
          }
        </div>
        <div class="">
          <button (click)="openDialog()" mat-raised-button color="accent">
            Agregar un nuevo albúm
          </button>
        </div>
      </div>
      <div
        class="tracks-container col-12 col-sm-4 d-flex flex-column gap-3 p-3"
      >
        <h2 class="text-title">Top 10 canciones</h2>
        @for (track of tracks; track $index) {
        <app-card-track [track]="track" [index]="$index" />
        }@empty {
        <app-skeleton [columns]="1" [rows]="6" />
        }
      </div>
      <div class="albums-container col-12 col-sm-4 p-3">
        <h2 class="text-title">Top Albums</h2>
        @for (item of albums; track $index) {
        <app-card-album (setAlbumDetail)="albumDetail($event)" [album]="item" />

        }@empty {
        <app-skeleton [columns]="1" [rows]="6" />
        }
      </div>
    </div>

    <hr />

    <div class="card row flex-row bg-white p-4">
      <div class="col-12 col-sm-6">
        <h2 class="text-title">Detalle del disco</h2>
        @if ( albums && albums.length>0 ) {
        <app-card-detail-album [selectAlbumDetail]="selectAlbumDetail" />
        }@else {
        <app-skeleton [columns]="1" [rows]="1" />
        }
      </div>
      <div class="col-12 col-sm-6 h-100">
        <h2 class="text-title">Discos seleccionados</h2>
        <div class="select-album-container card">
          @for (item of selectedAlbums; track $index) {

          <div class="select-card-album card p-2">
            <p>{{ item.name }}</p>
            <img [src]="item.images[0].url" alt="" />
          </div>
          }
        </div>
      </div>
    </div>
  </div>
</div>
