<div class="card-album-detail d-flex flex-row card w-100 p-3 gap-4">
  <div class="col-6">
    @if (selectAlbumDetail) {
    <img [src]="getImagesSelectedAlbum" alt="" />
    }@else {
    <app-skeleton [columns]="1" [rows]="1" />
    }
  </div>
  <div class="col-6">
    <p class="text-title-1">{{ selectAlbumDetail.name }}</p>
    <p class="text-title-4 mt-3">
      N° canciones:
      <span class="ms-1 text-label">
        {{ selectAlbumDetail.total_tracks }}
      </span>
    </p>
    <p class="text-title-4 mt-3">Artistas</p>
    <ul>
      @for (item of selectAlbumDetail.artists; track $index) {

      <li>{{ item.name }}</li>
      }
    </ul>
    <p class="text-title-4 mt-3">
      feca de lanzamiento:
      <span class="ms-1 text-label"> {{ selectAlbumDetail.release_date }}</span>
    </p>
    <div class="mt-5">
      <a class="link-button" [href]="selectAlbumDetail.uri"
        >Reproducir en spotify</a
      >
    </div>
  </div>
</div>
