<div class="card card-track p-4">
  <p class="text-title-3">{{ index + 1 }}-{{ track.name }}</p>
  <div class="d-flex align-items-start justify-content-start mb-3 mt-3">
    <span class="text-title-4"> Artistas: </span>
    <mat-chip-set>
      @for (item of track.artists; track item.id) {
      <div class="ms-2">
        <mat-chip> {{ item.name }} </mat-chip>
      </div>
      }
    </mat-chip-set>
  </div>
  <p class="mb-3 text-title-4">
    Duración: <span class="text-label ms-1">{{ convertMsToTime() }}</span>
  </p>
  <audio controls [src]="track.preview_url"></audio>
</div>
