<h2 mat-dialog-title>Agregar nuevo disco</h2>
<mat-dialog-content class="mat-typography">
  <form class="d-flex flex-column" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>Título</mat-label>
      <input matInput formControlName="title" />
    </mat-form-field>

    <mat-form-field>
      <mat-label>Fecha de lanzamiento</mat-label>
      <input matInput [matDatepicker]="picker" formControlName="year" />
      <mat-datepicker-toggle
        matIconSuffix
        [for]="picker"
      ></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Imagen de portada</mat-label>
      <input matInput formControlName="image" />
    </mat-form-field>
    <mat-dialog-actions align="end">
      <button mat-raised-button color="secondary" mat-dialog-close>
        Cancelar
      </button>
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!form.valid"
        mat-dialog-close
      >
        Agregar
      </button>
    </mat-dialog-actions>
  </form>
</mat-dialog-content>
